
node_modules/

dist/

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log* # If you were to use yarn
yarn-error.log* # If you were to use yarn

.DS_Store
Thumbs.db

.vscode/

coverage/

*.tmp
*.swp
